.planets {
  display: flex;
  flex-wrap: wrap;
}

.planet {
  border-radius: 50%;
  min-width: 100px;
  height: 100px;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    // cursor: pointer;
  }
}
